:root {
    --color1: #00A9A5;
    --color2: #333138;
    --color3: #56A3A6;
    --color4: #515052;
    --color5: #FFFFFA;
}

body{
    background-color: var(--color2);
    margin: 0;
    padding: 0;
    background-color: var(--color2);
    font-family: Arial;

}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.main-container {
    position: relative;
}

.deactivated {
    opacity: 0;
}
.my-title {
    position: absolute;
    left: 50px;
    top: 20px;
    color: var(--color1);
}
.library-container {
    -webkit-box-shadow: inset 0px 0px 18px 1px rgba(32,32,32,0.7);
    box-shadow: inset 0px 0px 18px 1px rgba(32,32,32,0.7);
    background-color: var(--color2);
    margin-top: 70px;
    height: 70%;
    width: 85%;
    padding: 1rem;
    margin-bottom: 3rem;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    display: grid;
    grid-template: repeat(auto-fit, 200px) / repeat(auto-fill, minmax(150px, 1fr));
    justify-content: stretch;
    align-items: stretch;
    gap: 1rem;

}
.book {
    background-color: var(--color3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    justify-content: stretch;
    align-items: stretch;
    display: grid;
    grid-template: 2fr 1fr 1fr 2fr / 2fr 2fr repeat(2, 1fr);
    grid-template-areas:
            "title title title x"
            "title title title ."
            "author author author year"
            "page page read read"
            ". . switch switch";
}


.book > div {
    color:  var(--color5);
    display: flex;
    padding-left: 8px;
    justify-content: flex-start;
    align-items: center;
}
.title {

    grid-area: title;
    font-size: 1.5rem;
}
.x {
    grid-area: x;
}
.cross:hover{
    filter: invert(1);
}

.author {
    grid-area: author;
    align-self: start;
}
.year {
    grid-area: year;
    justify-self: start;
    padding-right: 16px;
    align-self: start;
}
.page-numbers {
    grid-area: page;
    font-size: 1.3rem;
    align-self: end;
}
.switch {
    grid-area: switch;
    justify-self: center;


}

.form-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    position: fixed;
    z-index: 1;
    position: absolute;

}
.newBook, .input-form {
    width: clamp(340px, 30%, 450px);
}

.form-container > .open-popup{
    visibility: visible;
    top: 10%;
    transform: translate(0%, 0%) scale(1);

}
form {
    transition: transform 0.4s, top 0.4s;
    display: grid;
    background-color: var(--color4);

    box-shadow: 0px 1px 13px -2px rgba(30,35,38,0.94);
    grid-template: repeat(4, 1fr) 1fr /  minmax(90px, 1fr) 3fr;
    grid-auto-rows: 1fr;
    -webkit-border-radius: 6px;
    position: absolute;
    -moz-border-radius: 6px;
    min-width: clamp(335px, 45%, 363px);
    border-radius: 6px;
    min-height: 400px;
    transform: translate(0%, 0%) scale(0.1);
    visibility: hidden;
    top: 45%;
    grid-template-areas:
    "label input"
    "label input"
    "label input"
    "label input"
    "checkbox read"
    "button button"
;
}
.checkbox {
    grid-area: checkbox;
}
.read {
    grid-area: read;
}
form > input, form > label {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
form > label {
    padding-right: 8px;
    padding-left: 8px;
}
form > input {
    padding: 8px;
    margin-right: 16px;
}
.button-placement > button, .newBook {

    min-height: 40px;

    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: var(--color1);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(32,32,32,0.7);
    box-shadow: 0px 0px 5px 1px rgba(32,32,32,0.7);

    color: var(--color5);
}

.button-placement > button {
    min-width: 300px;

}

.button-placement {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}

.newBook {
    position: relative;
    top:90vh;
    left: 43vw;
    margin-right:3rem;
    min-width: 80px;
    max-width: 150px;
    z-index: 2;

}

button {
    cursor: pointer;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 8px;

}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color5);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color4);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color1);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.book.isread {
    background-color: var(--color4);
    border: 1px var(--color5);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
